<h1>You sent the following data in a GET request:</h1>
<table>
    <tr>
        <th>Names</th>
        <th>Values</th>
    </tr>
    {{#each urlItem}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.value}}</td>
    </tr>
    {{/each}}
</table>
