<h1>Get Request Received</h1>
<table>
    <tr>
        <th>Names</th>
        <th>Values</th>
    </tr>
    {{#each item}}
    <tr>
        <td>{{this.name}}</td>
        <td>{{this.value}}</td>
    </tr>
    {{/each}}
</table>